/* pressure.html */
html {
    height: 100%;
  }
  
  body {
    background: whitesmoke;
    padding: 1rem 5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background: linear-gradient(45deg,rgba(183, 204, 248, 0.717),rgba(7, 43, 127, 0.679)), url('./background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #pressure {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    background: rgb(255, 242, 0);
    background: linear-gradient(90deg, rgba(138, 209, 110, 0.38) 0%, rgba(255, 242, 0, 0.38426708574054624) 100%);
    padding: 8px;
    text-align: left;
  }
  
  th {
    background: rgb(138, 209, 110, 0.38);
    background: linear-gradient(90deg, rgba(138, 209, 110, 0.38) 0%, rgba(138, 209, 110, 0.38) 100%); 
  }
  